<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name="com.example.dagger22.App"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main4Activity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="picaso.SampleGridViewActivity" />
        <activity android:name="picaso.SampleGalleryActivity" />
        <activity android:name="picaso.SampleListDetailActivity" />
        <activity android:name="picaso.SampleContactsActivity" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>


        <activity
            android:name="com.example.dagger22.mainscreen.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".Main3Activity">

        </activity>
    </application>

</manifest>